@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ESRebondGrotesque";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/ESRebondGrotesque-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "ESRebondGrotesque";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/public/assets/fonts/ESRebondGrotesque-Semibold.otf")
    format("opentype");
}

body {
  @apply bg-brand-white font-rebond text-brand-black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
